$bg1: #2f74b4;
$bg2: #69c9be;

@mixin menu {
    height: 325px;
    position: absolute;
    top: 100px;
    width: 500px;

    h1 {
        text-align: center;
        text-decoration: none;
        color: black;
    }

    img {
        border: 3px solid rgb(22, 23, 22);
        border-radius: 20px;
    }
}

@mixin bg {
    filter: blur(50px);
    height: 100vh;
    position: absolute;
    top: 0;
    width: 50vw;
}

.bg1 {
    background-color: $bg1;
    left: 50vw;
    @include bg;
}

.bg2 {
    background-color: $bg2;
    left: 0;
    @include bg;
}

.menu1 {
    left: 10vw;
    @include menu;
}

.menu2 {
    left: 60vw;
    @include menu;
}

.title {
    position: relative;
    text-align: center;
    padding-top: 70px;
    color: black;
    
}

.icone1 {
    position: absolute;
    left: 1087px;
    top: 105px;
}

.icone2 {
    position: absolute;
    right: 1087px;
    top: 105px;
}
