.formulaire{
    border: 2px solid;
    width: 1000px;
    height: 500px;
    position: relative;
    // top: 100ph;
    // left: 20vw;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
}

.group-1{
    height: 325px;
    position: absolute;
    top: 100px;
    width: 500px;
    left: 8vw;
    display: block;
}
.group-2{
    height: 325px;
    position: absolute;
    top: 100px;
    width: 500px;
    left: 40vw;
}

.boutton{
    position: absolute;
    top: 300px;
    left: 30vw;
    width: 100px;
    height: 50px;
    color: rgb(192, 116, 23) ;
}

select, input{
    width: 300px;
    height: 40px;
    border-radius: 10px;
    border: none;
}

.infoLeft{
    width: 700px;
}

.rightInfo{
    width: 300px;
}
.boutton1{
    position: absolute;
    top: absolute;
    left: 75vw;
    background-color: rgb(217, 173, 114);
}
.bouttonCommande{
    position: absolute;
    top: 430px;
    left: 30vw;
    width: 100px;
    height: 50px;
    color: rgb(192, 116, 23) ;
}
.bouttonArticle{
    position: absolute;
    top: 500px;
    left: 90vw;
    width: 100px;
    height: 50px;
    color: rgb(192, 116, 23) ;
}