

    .title{
        text-align: center;
        padding-top: 105px;
    }

    .groupe-1{
        position: absolute;
        left: 1087px;
        top: 105px;
        
    }

    .groupe-2{
        position: absolute;
        right: 1087px;
        top: 105px;
        
    }